.item {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.img {
    width: 100%;
    height: 100%;
}

.cover {object-fit: cover;}

.joke {
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #fff;
    padding: 20px 15px;
    width: 100%;
}