// https://transfonter.org/
// https://creativemarket.com/blog/the-missing-guide-to-font-formats
// @font-face {
// 	font-family: 'Appareo';
// 	src: url('Appareo-Black.woff') format('woff');
// 	font-weight: 900;
// 	font-style: normal;
// }

html, body, body * {
	// font-family: 'Overpass', sans-serif;
	font-weight: 400;
	font-size: #{$base-font-size}px;
	@include letterspacing(1);
	@include lineheight($base-font-size, 1.35);
}

h1 {
	@include fontsize(65);
	@include letterspacing(3);
	@include lineheight(65, 1.25);
}

h2 {
	@include fontsize(41);
	@include letterspacing(3);
	@include lineheight(41, 1.35);
}

h3 {
	@include fontsize(20);
	@include letterspacing(2);
	@include lineheight(20, 1.35);
}

h4 {
	@include fontsize(18);
	@include letterspacing(0.8);
	@include lineheight(18, 1.35);
}

h5 {
	@include fontsize(15);
	@include letterspacing(0.5);
	@include lineheight(15, 2);
}

h6 {
	@include fontsize(14);
	@include letterspacing(0.5);
	@include lineheight(14, 2);
}

p {
	@include fontsize($base-font-size);
	@include letterspacing(0.05);
	@include lineheight($base-font-size, 2);
}


a, a:hover, a:active, a:visited {
	@include fontsize($base-font-size);
	@include letterspacing(0.05);
	@include lineheight($base-font-size, 2);
}

span {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	line-height: inherit;
}

strong, .bold {
	font-weight: 600;
}

.regular {
	font-weight: 400;
}

em, .italic {
	font-style: italic;
}
