/////////////////////////////////////////////
// SASS Globals Variables
/////////////////////////////////////////////
$nav-height      : 50px;
$footer-height   : 186px;

// Global Defaults
$base-font-size : 16;
$base-font-color : '#000';
$base-bg-color: '#17151d';

// Button color
$btn-color: '#c5161e';
$btn-text-color: '#fff';
$btn-border-color: '#c5161e';


/////////////////////////////////////////////
// Form
/////////////////////////////////////////////
// Form field column spacing
$form-field-col-spacing: 5px;

// Form field input border color
$form-field-border-color: #ccc;

// Form field input border focus color
$form-field-border-focus-color: #c5161e;

// Form field placeholder color
$form-field-placeholder-color: #000;
