/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body * {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  box-sizing: border-box;
  text-transform: none;
  text-align: left;
  font-family: Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal; }
  body *:focus {
    outline: none;
    outline-offset: initial; }

img {
  width: 100%; }

/**!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
  .animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s; }
  .animated.bounceIn, .animated.bounceOut, .animated.flipOutX, .animated.flipOutY {
    -webkit-animation-duration: .75s;
    animation-duration: .75s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -15%, 0);
    transform: translate3d(0, -15%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
  overflow-y: auto;
  display: none; }
  .lightbox .close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 20px;
    height: 20px;
    cursor: pointer; }
    .lightbox .close path {
      fill: #fff;
      stroke: #fff; }

html, body, body * {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.0625rem;
  line-height: 1.35rem; }

h1 {
  font-size: 4.0625rem;
  letter-spacing: 0.1875rem;
  line-height: 5.078125rem; }

h2 {
  font-size: 2.5625rem;
  letter-spacing: 0.1875rem;
  line-height: 3.459375rem; }

h3 {
  font-size: 1.25rem;
  letter-spacing: 0.125rem;
  line-height: 1.6875rem; }

h4 {
  font-size: 1.125rem;
  letter-spacing: 0.05rem;
  line-height: 1.51875rem; }

h5 {
  font-size: 0.9375rem;
  letter-spacing: 0.03125rem;
  line-height: 1.875rem; }

h6 {
  font-size: 0.875rem;
  letter-spacing: 0.03125rem;
  line-height: 1.75rem; }

p {
  font-size: 1rem;
  letter-spacing: 0.003125rem;
  line-height: 2rem; }

a, a:hover, a:active, a:visited {
  font-size: 1rem;
  letter-spacing: 0.003125rem;
  line-height: 2rem; }

span {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit; }

strong, .bold {
  font-weight: 600; }

.regular {
  font-weight: 400; }

em, .italic {
  font-style: italic; }

#page-wrapper {
  min-height: calc(100vh - 186px);
  width: 100%;
  overflow-x: hidden; }

.button, .button:hover, .button:visited, .button:active {
  border: 1px solid #c5161e;
  color: #fff;
  background-color: #c5161e;
  cursor: pointer;
  display: inline-block;
  padding: 0 35px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  height: 40px;
  line-height: 39px; }

.cont {
  padding: 0 15px; }
  @media (min-width: 576px) {
    .cont {
      padding: 0 30px; } }
  @media (min-width: 1200px) {
    .cont {
      margin: 0 auto;
      max-width: 1140px;
      padding: 0; } }

.hamburger {
  z-index: 21;
  width: 24px;
  height: 20px;
  display: block;
  position: absolute;
  top: 41px;
  right: 33px; }
  @media (min-width: 768px) {
    .hamburger {
      display: none; } }
  .hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #555;
    position: absolute;
    left: 0;
    transition: 0.3s all ease-in-out; }
    .hamburger span:nth-child(1) {
      top: 0; }
    .hamburger span:nth-child(2) {
      top: 43%; }
    .hamburger span:nth-child(3) {
      top: 88%; }

textarea,
input[type=text],
input[type=button],
input[type=submit],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0; }

input[type=month], input[type=week],
input[type=date], input[type=datetime],
input[type=time], input[type=datetime-local],
input[type=email], input[type=password], input[type=tel],
input[type=url], input[type=number], input[type=range],
input[type=search], input[type=text], textarea {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  background-color: transparent;
  padding: 0 20px;
  color: #000;
  transition: all 0.3ss ease-in-out;
  transition-delay: 0s; }
  input[type=month]:focus, input[type=week]:focus,
  input[type=date]:focus, input[type=datetime]:focus,
  input[type=time]:focus, input[type=datetime-local]:focus,
  input[type=email]:focus, input[type=password]:focus, input[type=tel]:focus,
  input[type=url]:focus, input[type=number]:focus, input[type=range]:focus,
  input[type=search]:focus, input[type=text]:focus, textarea:focus {
    border-color: #c5161e; }
  input[type=month]::-webkit-input-placeholder, input[type=week]::-webkit-input-placeholder,
  input[type=date]::-webkit-input-placeholder, input[type=datetime]::-webkit-input-placeholder,
  input[type=time]::-webkit-input-placeholder, input[type=datetime-local]::-webkit-input-placeholder,
  input[type=email]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder,
  input[type=url]::-webkit-input-placeholder, input[type=number]::-webkit-input-placeholder, input[type=range]::-webkit-input-placeholder,
  input[type=search]::-webkit-input-placeholder, input[type=text]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #b6b6b6; }
  input[type=month]::-moz-placeholder, input[type=week]::-moz-placeholder,
  input[type=date]::-moz-placeholder, input[type=datetime]::-moz-placeholder,
  input[type=time]::-moz-placeholder, input[type=datetime-local]::-moz-placeholder,
  input[type=email]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=tel]::-moz-placeholder,
  input[type=url]::-moz-placeholder, input[type=number]::-moz-placeholder, input[type=range]::-moz-placeholder,
  input[type=search]::-moz-placeholder, input[type=text]::-moz-placeholder, textarea::-moz-placeholder {
    color: #b6b6b6; }
  input[type=month]:-ms-input-placeholder, input[type=week]:-ms-input-placeholder,
  input[type=date]:-ms-input-placeholder, input[type=datetime]:-ms-input-placeholder,
  input[type=time]:-ms-input-placeholder, input[type=datetime-local]:-ms-input-placeholder,
  input[type=email]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder,
  input[type=url]:-ms-input-placeholder, input[type=number]:-ms-input-placeholder, input[type=range]:-ms-input-placeholder,
  input[type=search]:-ms-input-placeholder, input[type=text]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #b6b6b6; }
  input[type=month]:-moz-placeholder, input[type=week]:-moz-placeholder,
  input[type=date]:-moz-placeholder, input[type=datetime]:-moz-placeholder,
  input[type=time]:-moz-placeholder, input[type=datetime-local]:-moz-placeholder,
  input[type=email]:-moz-placeholder, input[type=password]:-moz-placeholder, input[type=tel]:-moz-placeholder,
  input[type=url]:-moz-placeholder, input[type=number]:-moz-placeholder, input[type=range]:-moz-placeholder,
  input[type=search]:-moz-placeholder, input[type=text]:-moz-placeholder, textarea:-moz-placeholder {
    color: #b6b6b6; }

textarea {
  min-height: 100px;
  max-height: 100px;
  height: 100px;
  padding: 10px 0px; }

select {
  height: 40px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0 20px;
  background-color: #fff; }

.file-upload-container {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ccc; }
  .file-upload-container input#file-upload[type="file"] {
    width: 100%;
    height: 38px;
    opacity: 0;
    z-index: 3; }
  .file-upload-container label {
    position: absolute;
    display: inline-block;
    top: 4px;
    right: 5px;
    width: 120px;
    border-radius: 6px;
    background-color: #ccc;
    line-height: 30px;
    text-align: center; }

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0; }
.form-field {
  width: 100%;
  margin-bottom: 28px; }
  .form-field.col_2 {
    width: 100%;
    margin-right: 0; }
    .form-field.col_2:last-child {
      margin-right: 0;
      margin-left: 0; }
    @media (min-width: 576px) {
      .form-field.col_2 {
        width: calc(50% - 5px);
        margin-right: 5px; }
        .form-field.col_2:last-child {
          margin-right: 0;
          margin-left: 5px; } }
  .form-field label {
    margin-bottom: 5px;
    display: block; }

.post_content em {
  font-style: italic; }
.post_content p {
  margin-bottom: 30px; }
.post_content ol, .post_content ul {
  list-style: intial;
  padding-left: 40px;
  margin-bottom: 15px; }
.post_content ul {
  list-style-type: disc; }
.post_content ol {
  list-style-type: decimal; }
.post_content li {
  margin-bottom: 5px; }
.post_content strong {
  font-weight: 700;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  line-height: inherit; }
.post_content img {
  width: auto;
  max-width: 100%;
  margin-bottom: 18px; }
.post_content .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }
.post_content .alignleft {
  float: left;
  margin-right: 10px; }
.post_content .alignright {
  float: right;
  margin-left: 10px; }

#root {
  height: 100vh;
  background-color: #110d1b;
  overflow: hidden; }

.content {
  width: 600px;
  height: 600px;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

.loading {
  color: #fff; }

.item {
  width: 100%;
  height: 100%;
  cursor: pointer; }

.img {
  width: 100%;
  height: 100%; }

.cover {
  object-fit: cover; }

.joke {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #fff;
  padding: 20px 15px;
  width: 100%; }

/*# sourceMappingURL=app.css.map */
